{% extends "base.html" %}

{% block title %}Diversity in Code Projects{% end %}

{% block body %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css" />
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script>

Alldata = JSON.parse('{% raw AlldataJson %}')
Alldates = JSON.parse('{% raw AlldatesJson %}')
MasterKeys = d3.keys(Alldata[Alldates[0]])

</script>
<style>
body {
  font: 10px sans-serif;
}

.chart {
  background: #fff;
}

p {
  font: 12px helvetica;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

button {
  position: absolute;
  right: 50px;
  top: 10px;
}
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.steamographtooltip{
  position: fixed
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
#bargraph{
  width:30%;
  margin: 1%;
  float:left;
}
#multilinegraph{
  width:64%;
  margin: 1%;
  float:right;
}
#steamograph{
  width:95%;
  margin: 1%;
}
.titleofgraph{
  text-align: center;
}
</style>
<div id="bargraph">
<h4 class="titleofgraph"> Current Racial Makeup of Active Contributors</h4>
</div>
<div id="multilinegraph">
<h4 class="titleofgraph"> Racial Makeup of Active Contributors over Time</h4><br><br><br>
</div>
<div id="steamograph"><h4 class="titleofgraph"> CodeDiversity&trade;</h4></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script>

var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = $(window).width()/3 * 2 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y%m%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) {return x(d.date); })
    .y(function(d) { return y(d.temperature); });

var svg = d3.select("#multilinegraph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

$(window).load( function() {

  // var data = {}
  color.domain(d3.keys(Alldata[Alldates[0]]).filter(function(key) { return key !== "date"; }));

  // data.forEach(function(d) {
  //   d.date = parseDate(d.date);

  // });

  var cities = color.domain().map(function(name) {
    prevalues = []
    for (var key in Alldata) {
        if (Alldata.hasOwnProperty(key)) {
          // console.log(parseDate(key))
          // console.log(Alldata[key])
          prevalues.push({date: new Date(key*1000), temperature: parseInt(Alldata[key][name]["ac"])})
        }
    }
    return {
      name: name,
      values: prevalues
    };
  });
  x.domain(d3.extent(Alldates, function(d) { return new Date(d*1000); }));

  y.domain([
    d3.min(cities, function(c) { return d3.min(c.values, function(v) { return v.temperature; }); }),
    d3.max(cities, function(c) { return d3.max(c.values, function(v) { return v.temperature; }); })
  ]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Active Contributors");
      console.log(cities)
  var city = svg.selectAll(".city")
      .data(cities)
    .enter().append("g")
      .attr("class", "city");

  city.append("path")
      .attr("class", "line")
      .attr("d", function(d) {return line(d.values); })
      .style("stroke", function(d) { return color(d.name); });

  city.append("text")
      .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
      .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")"; })
      .attr("x", 3)
      .attr("dy", ".35em")
      .text(function(d) { return d.name; });
});

</script>


<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>

var margin = {top: 40, right: 20, bottom: 30, left: 40},
    width = $(window).width()/3 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var formatPercent = d3.format(".0%");

var xbar = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var ybar = d3.scale.linear()
    .range([height, 0]);

var xAxisBar = d3.svg.axis()
    .scale(xbar)
    .orient("bottom");

var yAxisBar = d3.svg.axis()
    .scale(ybar)
    .orient("left")
    .tickFormat(formatPercent);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>Frequency:</strong> <span style='color:red'>" + d.frequency + "</span>";
  })

var svgBar = d3.select("#bargraph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svgBar.call(tip);

$(window).load( function() {


  d3.keys(Alldata[Alldates[0]])
    // Last
  var dataObj = {}
  var total = 0;
  for(var i = 1; i < 5; i ++){
    for (var key in  Alldata[Alldates[Alldates.length - i]]) {
        if (Alldata[Alldates[Alldates.length - i]].hasOwnProperty(key)) {
          if (!(key in dataObj)){
            dataObj[key] = 0
          }

          dataObj[key] += parseInt(Alldata[Alldates[Alldates.length - i]][key]["ac"])
          total += parseInt(Alldata[Alldates[Alldates.length - i]][key]["ac"])
        }
      }
  }
var data = []
for (var key in  dataObj) {
  if (dataObj.hasOwnProperty(key)) {
    data.push({"letter": key, "frequency": dataObj[key]/total})
  }
}
  xbar.domain(data.map(function(d) { return d.letter; }));
  ybar.domain([0, d3.max(data, function(d) { return d.frequency; })]);

  svgBar.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxisBar);

  svgBar.append("g")
      .attr("class", "y axis")
      .call(yAxisBar)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Frequency");

  svgBar.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return xbar(d.letter); })
      .attr("width", xbar.rangeBand())
      .attr("y", function(d) { return ybar(d.frequency); })
      .attr("height", function(d) { return height - ybar(d.frequency); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)

});

function type(d) {
  d.frequency = +d.frequency;
  return d;
}

</script>


{% end %}